## Reference 

https://www.w3schools.com/python

# DISCLAMER:

# ALL ERRORS INDICATE THAT IT IS THE INCORRECT WAY TO WRITE THAT CERTAIN LINE OF CODE. AND BELOW THE CORRECT WAY IS PRODUCED.

# Creating or Declaring Variables

# Variables
Variables just from any programming language, are used for storing data values.

### Creating Variables
You can create a variable in python without decalring it.

In [1]:
a = 20 # a is of type int or integer
b = 'Samuel' # b is of type str or string 
print(a)
print(b)

20
Samuel

### Casting 

It is a way of specifying the data type of a variable.

In [2]:
c = str(35)   
# c will be '35'
d = int(311)    
# d will be 311
e = float(10)  
# e will be 10.0

### Get the Type

You can retrieve the data type of a variable with the type() function.

In [3]:
print(type(c))
print(type(d))
print(type(e))

<class 'str'>
<class 'int'>
<class 'float'>

### Single or Double Quotes?
String variables can be declared either by using single or double quotes:

In [4]:
ab = "Sam"
# is the same as
ab = 'Sam'

### Case-Sensitive
Variable names are case-sensitive.

In [5]:
a = 40
A = "Samsom"
# A will not overwrite a

### Python - Variable Names

### Variable Names

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)

#### Legal variable names

In [6]:
var1 = "Thato"
var_1 = "Johnny"
_var_1 = "Kenneth"
Var1 = "Jody"
VAR1 = "Abigail"
var12 = "Samkelo"

#### Illegal variable names 

Because they are illegal, they should produce an error.

In [7]:
2myvar = "Samkelo"
my-var = "John"
my var = "James"

SyntaxError: invalid syntax (<ipython-input-7-86e5c19a8edd>, line 1)

### Remember that variable names are case-sensitive

###  Multi Words Variable Names
Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:

### Camel Case
Each word, except the first, starts with a capital letter:

In [8]:
myVariableName = 'Hanna'

### Pascal Case
Each word starts with a capital letter:

In [9]:
MyVariableName = "Kabelo"

### Snake Case
Each word is separated by an underscore character:

In [10]:
my_variable_name = "Jake"

### Python Variables - Assign Multiple Values

### Many Values to Multiple Variables
Python allows you to assign values to multiple variables in one line:

In [11]:
v, x, p = "Pink", "Purple", "Red"
print(v)
print(x)
print(p)

Pink
Purple
Red

### Note: 
Make sure the number of variables matches the number of values, or else you will get an error.

### One Value to Multiple Variables
And you can assign the same value to multiple variables in one line:

In [12]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

### Unpack a Collection
If you have a collection of values in a list, tuple etc. Python allows you extract the values into variables. This is called unpacking.

In [13]:
fruits = ["guava", "dragon fruit", "kiwi"]
x, y, z = fruits
print(x)
print(y)
print(z)

guava
dragon fruit
kiwi

### Unpacking a tuple

When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

In [14]:
fruits = ("peach", "grapes", "watermelon")

But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

In [16]:
(Jake, James, Jody) =fruits

print(Jake)
print(James)
print(Jody)

peach
grapes
watermelon

### Using Asterisk*
If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [19]:
(Jake, James, Jody) = fruits

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

peach
grapes
['watermelon']

If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [20]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

### Output Variables

The Python print statement is often used to output variables.

To combine both text and a variable, Python uses the + character:

In [21]:
p = "snakes"
print("Not all Pythons are " + p)

Not all Pythons are snakes

For numbers, the + character works as a mathematical operator:

In [22]:
x = 5
y = 10
print(x + y)

15

#### If you try to combine a string and a number, Python will give you an error:

In [23]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Content on global variables is removed, as we have not covered functions in this notebook.

# Python Data Types

### Built-in Data Types
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

* Text Type:	str
* Numeric Types:	int, float, complex
* Sequence Types:	list, tuple, range
* Mapping Type:	dict
* Set Types:	set, frozenset
* Boolean Type:	bool
* Binary Types:	bytes, bytearray, memoryview

## Getting the Data Type
You can get the data type of any object by using the type() function:

In [28]:
# Print the data type of the variable x:
x = 50
print(type(x))

<class 'int'>

# Python Numbers
There are three numeric types in Python:

* int
* float
* complex

Variables of numeric types are created when you assign a value to them:

In [29]:
x = 15    # int
y = 2.80  # float

To verify the type of any object in Python, use the type() function:

In [30]:
print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

### Int
Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [31]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

### Float
Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [32]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [33]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

### Complex
Complex numbers are written with a "j" as the imaginary part:

In [34]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [35]:
# Convert from one type to another:

x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

# Python Casting

### Specify a Variable Type
There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

* int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
* float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
* str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [36]:
# Integers:

x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [37]:
# Floats:

x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [38]:
# Strings:

x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

# Strings

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [39]:
print("Hello")
print('Hello')

Hello
Hello

### Assign String to a Variable
Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [40]:
a = "Hello"
print(a)

Hello

### Multiline Strings
You can assign a multiline string to a variable by using three quotes:

In [41]:
# You can use three double quotes:

a = """I am a student from Sol Plaatje University. 
   Code Clinics and hackthons are cool and fun!!!"""
print(a)

I am a student from Sol Plaatje University.
   Code Clinics and hackthons are cool and fun!!!

### Strings are Arrays
Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [42]:
# Get the character at position 1 (remember that the first character has the position 0):

a = "Hello, World!"
print(a[1])

e

### Looping Through a String
Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [43]:
# Loop through the letters in the word "pieang":

for x in "piesang":
  print(x)

p
i
e
s
a
n
g

### String Length
To get the length of a string, use the len() function.

In [44]:
# The len() function returns the length of a string:

a = "Hello, World!"
print(len(a))

13

### Check String
To check if a certain phrase or character is present in a string, we can use the keyword in.

In [45]:
# Check if "free" is present in the following text:

txt = "Hard work pays off"
print("free" in txt)

False

Use it in an if statement:

In [46]:
# Print only if "free" is present:

if "free" in txt:
  print("Yes, 'free' is present.")

### Check if NOT
To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [47]:
# Check if "expensive" is NOT present in the following text:

print("expensive" not in txt)

True

In [48]:
# print only if "expensive" is NOT present:

if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

### Slicing Strings

### Slicing
You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

The first character has index 0.

In [49]:
# Get the characters from position 2 to position 5 (not included):

b = "Hello, World!"
print(b[2:5])

llo

### Slice From the Start
By leaving out the start index, the range will start at the first character:

In [50]:
# Get the characters from the start to position 5 (not included):

print(b[:5])

Hello

### Slice To the End
By leaving out the end index, the range will go to the end:

In [51]:
print(b[2:])

llo, World!

### Negative Indexing
Use negative indexes to start the slice from the end of the string:

In [52]:
print(b[-5:-2])

orl

Get the characters:

From: "o" in "World!" (position -5)

To, but not included: "d" in "World!" (position -2):

### Modify Strings

In [53]:
## Upper Case
# The upper() method returns the string in upper case:

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [54]:
#Lower Case
#The lower() method returns the string in lower case:

print(a.lower())

hello, world!

In [55]:
# Remove Whitespace
#Whitespace is the space before and/or after the actual text, and very often you want to remove this space.
# The strip() method removes any whitespace from the beginning or the end:

print(a.strip()) # returns "Hello, World!"

Hello, World!

In [56]:
#Replace String
#The replace() method replaces a string with another string:

print(a.replace("H", "J"))

Jello, World!

In [57]:
#Split String
#The split() method returns a list where the text between the specified separator becomes the list items
#The split() method splits the string into substrings if it finds instances of the separator:

print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

### String Concatenation

To concatenate, or combine, two strings you can use the + operator.

In [58]:
# Merge variable a with variable b into variable c:

a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [59]:
# To add a space between them, add a " ":

a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

### Format - Strings

In [60]:
age = 45
txt = "My name is James, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

But we can combine strings and numbers by using the format() method!

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [61]:
age = 45
txt = "My name is James, and I am {}"
print(txt.format(age))

My name is James, and I am 45

You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

In [62]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

# Python Booleans

Booleans represent one of two values: True or False.

### Boolean Values
In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [63]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

### Evaluate Values and Variables
The bool() function allows you to evaluate any value, and give you True or False in return,

In [65]:
# Evaluate a string and a number:

print(bool("Hello"))
print(bool(15))

True
True

In [66]:
# Evaluate two variables:

x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

### Most Values are True
Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

In [67]:
# The following will return True:

bool("abc")
bool(123)
bool(["apple", "cherry", "piesang"])

True

### Some Values are False
In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False.

In [68]:
# The following will return False:

bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [69]:
# Check if an object is an integer or not:

x = 200
print(isinstance(x, int))

True

#### Content on if - else statements with booleans has been removed as loops have not been covered.

# Python Operators

### Python Operators
Operators are used to perform operations on variables and values.

In the example below, we use the + operator to add together two values:

In [70]:
print(10 + 5)

15

Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

### Go on website to find out more information on above mentioned operators.

### Arithmetic Operators

In [71]:
a = 20
b = 15

In [72]:
# Subtraction
a -b

5

In [73]:
# multiplication
a*b

300

In [74]:
# division
a/b

1.3333333333333333

In [75]:
# modulus or the reminder from doing long divion of (20/15), where you get 1,5 as an answer 
a%b

5

In [76]:
## Exponentiation: 20 to the power 15
a**b

32768000000000000000

In [77]:
## floor division: when dividing 20 /15, you only take the 1 and not the remainder.
a//b

1

### Python Collections (Arrays)
There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered, unchangeable, and unindexed. No duplicate members.
Dictionary is a collection which is ordered* and changeable. No duplicate members.

Check out content on third years for lists, arrays, tuples, dictionaries and dataframes